@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    123 Main Street<br />
    New York, NY 10001<br />
    <abbr title="Phone">P:</abbr>
    914.555.0100
</address>

<address>
    <strong>CEO/Genius/Master of all Technology and Programming:</strong>   <a href="mailto:kc.abramson@gmail.com">kc.abramson [at] gmail.com</a><br />
    <strong>Hilarity:</strong> <a href="mailto:jleib1212@gmail.com">jleib1212 [at] gmail.com</a><br />
    <strong>Director of Homosexuality:</strong> <a href="mailto:djpick4d@gmail.com">djpick4d [at] gmail.com</a>
</address>